body{
    max-width: 38em;
    font-family:monospace;
    margin: auto;
    padding: 1em;
}

#project_list{
    padding: 0;
}

#project_list > li {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
#project_list > li:not(:last-child){
    border-bottom: 1px dashed gray;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#project_list > li > img {
    width: 100px;
    height: 40px;
    background: #8b8b8b;
    flex-shrink: 0;
    border: 1px solid darkslategray;
    object-fit: cover;
}

#project_list > li > span {
    display: flex;
    flex-direction: column;
}

.tags {
    margin-top: 0.25rem;
}

.tag {
    display: inline-block;
    margin-right: 0.3rem;
    font-size: xx-small;
    color: rgb(90, 90, 90);
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    padding: 2px;
}

section{
    /*border: 1px solid gray;*/
    padding: 0.2em;
    margin: 0.2em;
}