body{
    max-width: 30em;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
}

header{
    text-align: center;
}

#pfp{
    width: 4em;
}

li{
    margin: 0.6em;
}

hr{
    border: 0.3px solid black;
}

table, th, td {
  border-collapse: collapse;
  padding: 5px;
}

td {
  border-bottom: 1.5px solid black;
}

tr:last-child td {
  border-bottom: none;
}

th{
  text-align: left;
  font-style: italic;
}

a{
  color: rgb(168, 110, 254);
}