body{
    max-width: 52em;
    font-family:monospace;
    margin: auto;
    padding: 1em;
    line-height:1.25em;
}

#project_list{
    padding: 0;
}

#project_list > li {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#project_list > li:not(:last-child){
    /*
    border-bottom: 1px dashed gray;
    */
    padding-bottom: 0.5em;
    margin-bottom: 1.2em;
}

#project_list > li > img {
    width: 120px;
    height: 70px;
    background: #8b8b8b;
    flex-shrink: 0;
    border: 1px solid darkslategray;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

#project_list > li > span {
    display: flex;
    flex-direction: column;
}

.tags {
    margin-top: 0.25rem;
}

.tag {
    display: inline-block;
    margin-right: 0.3rem;
    font-size:0.7rem;
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    padding: 2px;
}

section{
    /*border: 1px solid gray;*/
    padding: 0.5em;
    margin:1rem 0;
}

h3, h1{
    margin-top: 0;
    line-height: 1em;
}

nav > a {
    font-size:xx-large;
    line-height: 1.3em;
}

#article_list li {
    margin-bottom: 0.8rem;
}

#article_list a {
    display: block;
    font-weight: bold;
}

#article_list small {
    color: gray;
    font-size: 0.85rem;
}

summary{
    text-decoration: underline;
    cursor:pointer;
}